
body{
	margin:0;
	font-family: Lora, Georgia;
}

h1,h2,h3,h4,h5,h6,header
{
	font-family: Poppins, sans-serif;
}

.pageContainer {
	width: 100%;
	height: 100%;
	overflow: auto;
}


#header{
	background:  rgba(51, 44, 44, 0.952);
	
}

.navBar {
	
	min-height: 51.2px;
}

.navBar a {
	float: right;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 1.1em;
	border-right: 1px solid #bbb;
}
.navBar a:hover {
	/*color: #1abc9c !important;*/
	 background: rgba(0, 60, 113,0.6); 
}
/*Hide link to collapse the navBar*/
.navBar .icon {
	display:none;
}

/*When screen size is less than 600px, show a nav menu link*/
@media screen and (max-width:600px){
	.navBar a {
		display:none;
		}
	.navBar a.icon{
		float:right;
		display:block;
		}

}

@media screen and (max-width:700px){
	
	.breakSearch
	{
		display:inline !important;
	}
}

@media screen and (max-width:600px){
	.navBar.responsive {position:relative;}
	.navBar.responsive a.icon{
		text-align:right;
		
	}
	.navBar.responsive a{
		float:none;
		display:block;
		text-align:center;
	}
    	
}

#navBarLogo{
	float: left;
	width:5%;
	
}
#navBarLogo img{
	height:50px;
	
}


.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media all and (max-width: 750px){
	.col-1 {width: 33.33%;}
	.col-2 {width: 50%;}
	.col-3 {width: 100%;}
	.col-4 {width: 100%;}
	.col-5 {width: 100%;}
	.col-6 {width: 100%;}
	.col-7 {width: 100%;}
	.col-8 {width: 100%;}
	.col-9 {width: 100%;}
	.col-10 {width: 100%;}
	.col-11 {width: 100;}
}

.useCases, .testimonials {
	text-align: center;
	box-shadow: -2px -1px 7px 4px rgba(0, 0, 0, 0.1);
	margin: 30px;
}
.testimonials{
	box-shadow: -2px -1px 7px 4px rgba(212, 212, 212, 0.40);
}

.useCaseContent {
	padding:3em;
}
.testimonialContent {
	padding:1.5em;
}
.testimonialContent h3 {
	margin-bottom: -0.3%;
}

.useCaseSection, .testimonialSection {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 4%;
	padding-bottom: 2%;
}
.testimonialImage {
	height: auto;
	max-height: 75%;
	max-width:75%;
}
.testimonialHeader, .testimonialSection{
	background-color: #003c71;
	color: whitesmoke;
	padding-top: 0%;
}

.testimonials{
	background-color: white;
    color: #003C71;
}

q{
	font-style: italic;
}

.aboutWebSite, .searchBar{
	text-align: center;
	padding-top:4%;
}


.useCaseContent h3, .useCaseContent .fa-home, .useCaseContent .fa-pencil-square-o, .useCaseContent .fa-usd {
	color: #003C71;
}

.aboutWebSite{
	padding-bottom: 4%;
    background-color: #003C71;
    color: whitesmoke;
    border-top: 10px solid gray;
}

.aboutWebSite p{
	width: 90%;
	margin:auto;
}

.searchWrapper
{
	position:absolute;
	top:0px;
	width:100%;
	height:100%;
	background-color: rgba(104,24,13,0.5);
}


.searchBar{
		background-image: url("../media/images/heroCropped.jpg");
		background-repeat:no-repeat;
		background-size:contain;
		padding-top: 37.2362869198%;
		position:relative;


}

.searchField
{
	margin: 0 auto;
	width:60%;
	display:block;
	border:0;
	background-color: #f9f4ef;
	border-radius: 25px;
	padding: 5px 5px 5px 5px;
	min-height: 30px;
	font-size: 1em;

}

@media screen and ( max-width: 815px) {
	.searchField a{display: none;}
	   
  }

.searchField input
{

	border: 0px;
	width:35%;
	background-color: #f9f4ef;
	color:#44423f;
	font-size: 1em;
	height: 20px;

}
.searchField label
{
	padding: 5px 5px 5px 5px;
	height:20px;
}



.breakSearch
{
	display:none;
}


.searchWrapper img
{
	margin-top:3%;
	width:30%;
	height:auto;
}

/* Defining height and width of footer canvas */
.footer {
    min-height: 200px;
    width: 100%;
    background-color: rgba(206, 205, 205, 0.849);
    margin: 0;padding: 0;
    }

/*Defining height and width for footer grid container */
.footer-container {
    min-height:170px;
    width: 100%;
}

/* Stylizing the footer grid */
.footer-container ul{
    list-style: none;
    padding-left: 0;
    margin-top: -15px
}

.footer-container li{
    padding: 3px 20px;
    font-size: 14px;
}

.footer-container h3{
    padding: 20px 20px 3px 20px;
    font-size: 13px;
    color:#0c0202;
}

.footer-container a{
    text-decoration: none;
    color: #4a4a4a;
}

.footer-grid{
    width: 25%;
    float: left;
}

/* Centering copyright declaration*/
.footer-copyright {
    text-align: center;
    font-size: 12px;
}

.footer-copyright img{
	width: 80px;
}
.footer-copyright-image{
	width: 100%;
	display: inline-block;
}


@media screen and ( max-width: 600px) {
  /* Double footer container height and grid width on mobile screen */
     .footer {
        min-height:400px;
    }
    .footer-container {
        min-height:340px;
    }
    .footer-grid {
		width:50%;    
		   
    }
}


/* Listing page CSS follows */

.searchBarResultsView label
{
	color: black;
}

.searchBarResultsView
{
	padding-bottom: 2%;
    background-color: #003C71;
    color: whitesmoke;
    border-bottom: 10px solid gray;
	border-top: 10px solid gray;
	text-align: center;
	padding-top: 2%;
}

.searchBarResultsView p
{
	width: 90%;
	margin:auto;
}

.dropdown
{
	display: inline !important;
	margin: 10px;
	
}
 .caption {
        width:100%;
        bottom: .3rem;
        position: absolute;
        background:#000;
        background: -webkit-linear-gradient(bottom, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
        background: -moz-linear-gradient(bottom, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
        background: -o-linear-gradient(bottom, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
        background: linear-gradient(to top, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    }

    .thumbnail {
        border: 0 none;
        box-shadow: -2px -1px 7px 4px rgba(0, 0, 0, 0.1);
        padding:0px !important;
    }

    .caption h4 {
        color: #fff;
        -webkit-font-smoothing: antialiased;
		font-family: Poppins, sans-serif;
    }
	.caption
	{
		margin-bottom:-3px;
	}

.ratingStars
{
	color: #FFD700;
}
.searchResultsGrid
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 1%;
	padding-bottom: 1%;
}

/* Listing page CSS ends */
