				<!-- Search Bar -->
				<div class="col-12 searchBar">
				
					<div class="searchWrapper">
						<img src="media/logo.svg" alt="Campus Photo with students walking around" />

						<div class="searchField">
						
								<label for="apartments">Find</label>&nbsp;
								<input type="text" placeholder="Apartments" id="apartments"/> 
								<br class="breakSearch"/>
								<label for="street">Near</label>&nbsp;
								<input type="text" placeholder="Street" id="street"/>	
							<a href="#search">
								<i class="fa fa-search fa-2x"></i>
							</a>

						</div>
					</div>
					
				</div>

				<!-- About Website -->
				<div class="col-12 aboutWebSite">
					<h2>Want to "bee" an Aggie? You have arrived at the right spot!</h2>
					<p>BeeAggie.com aims to help new students, teachers, and just about anyone settle 
					in the wonderful College Station/Bryan area. Allow BeeAggie, the busiest aggie (bee?) in town, to help you understand Aggieland better. 
					Post listings or reviews, search apartments, read reviews, and more!
					<br /><span style="font-weight: bold;font-style:italic;">Psst!</span> BeeAggie will very shortly be able to also help you with restaurants and fun places in and around Aggieland. 
					</p>

				</div>
				
				<!-- Use Cases -->
				<div class="col-12 useCaseSection">
					<div class="col-3 useCases" id="useCase1">
						<div class="useCaseContent">
							<header>
								<a href="#listings">
									<i class="fa fa-home fa-5x" aria-hidden="true"></i>
									<h3>View Listings</h3>
								</a>	
							</header>
							<p>View listings of hundreds of places in and around Texas A&M University to help you decide the best place to live while you attend college. </p>
						</div>
					</div>
					<div class="col-3 useCases" id="useCase2">
						<div class="useCaseContent">
							<header>
								<a href="#listings">
									<i class="fa fa-pencil-square-o fa-5x" aria-hidden="true"></i>
									<h3>Post Reviews</h3>
								</a>
							</header>
							<p>Post reviews of apartments you have lived in to help your fellow Aggies make a better decision on what to choose.</p>
						</div>
					</div>
					<div class="col-3 useCases" id="useCase3">
						<div class="useCaseContent">
							<header>
								<a href="#listings">
									<i class="fa fa-usd fa-5x" aria-hidden="true"></i>
									<h3>Promote Business</h3>
								</a>
							</header>
							<p>Apartment owners can post listings for their properties and help students view the amenities provided by the property.</p>
						</div>
					</div>
				</div>
				
				<!--testimonials-->
				<div class="col-12 testimonialSection">
					<div class="col-12 testimonialHeader">
						<h2 style="text-align: center">Testimonials</h2>
					</div>
					<div class="col-3 testimonials" id="testimonial1">
						<div class="testimonialContent">
							<header>
								
									<img class="testimonialImage" src="media/images/testimonials/new_Student.png" alt="image of a new student"/>
									<h3>Matthew - New Student</h3>
									
							</header>
							<q>BeeAggie helped me a lot during my search for apartments while I was back home. I was worried about how I would find a good place to live
								during my course. But after reading the reviews on BeeAggie, I was able to make a good decision.
							</q>
						</div>
					</div>
					<div class="col-3 testimonials" id="testimonial2">
						<div class="testimonialContent">
							<header>
								
								<img class="testimonialImage" src="media/images/testimonials/student1.png" alt="image of a former or current student"/>
								<h3>Aisha - Former Student</h3>
								
							</header>
						<q>I remember how hard I had found it to look for apartments while I was beginning college and hoped that there would be a website like BeeAggie
							where I could read reviews of apartments. I am glad that I can help my fellow Aggies avoid the problems I faced, and find great apartments.</q>
						</div>
					</div>
					<div class="col-3 testimonials" id="testimonial3">
						<div class="testimonialContent">
							<header>
								
								<img class="testimonialImage" src="media/images/testimonials/owner1.png" alt="image of a property owner"/>
								<h3>Robert - Apartment owner</h3>
								
							</header>
							<q>I recently developed a new apartment complex and found it difficult to promote my business to incoming students at 
								Texas A&M University. BeeAggie made this so much more easier by offering me a platform to showcase my business. 
							</q>
						</div>
					</div>
				</div>
				