				
				<form name="search" >
				  Name: <input type="text" name="name1" id="name1"/>
				  Email: <input type="text" name="email1" id="email1"/>
				  Password: <input type="text" name="pwd" id="pwd"/>
				  <input type="button" name="Login" value="Log In" onclick="return onLoginClick();"/>
				  <input type="button" name="Logout" value="Log Out" onclick="return onLogoutClick();"/>
				  <input type="button" name="Sign up" value="Sign up" onclick="return onSignUpClick();"/>
				  
				</form>
                
                <form name="image_up">
                    Select image: <input type="file" name="img1" id="img1" />
                    <input type="button" value="Submit" name="submit1" onclick="return onImgSubmitClick();" />
                </form>