				<div class="col-12 searchBarResultsView">
						<div class="searchField">
						
								<label for="apartments">Find</label>&nbsp;
								<input type="text" placeholder="Apartments" id="apartments"/> 
								<br class="breakSearch"/>
								<label for="street">Near</label>&nbsp;
								<input type="text" placeholder="Street" id="street"/>	
							<a href="#search">
								<i class="fa fa-search fa-2x"></i>
							</a>

						</div>
						<br/>
						<div class="dropdown">
						  <button class="btn btn-default dropdown-toggle" type="button" 
						  id="dropdownSortMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							Sort by
							<span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu" aria-labelledby="dropdownSortMenu">
							<li><a href="#">Price Increasing</a></li>
							<li><a href="#">Price Decreasing</a></li>
							<li><a href="#">Rating</a></li>
						  </ul>
						</div>
						<div class="dropdown" >
						  <button class="btn btn-default dropdown-toggle" type="button" 
						  id="dropdownNoOfRooms" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							No. of rooms
							<span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu" aria-labelledby="dropdownNoOfRooms">
							<li><a href="#">Studio</a></li>
							<li><a href="#">1 BHK</a></li>
							<li><a href="#">2 BHK</a></li>
							<!--<li role="separator" class="divider"></li>-->
							<li><a href="#">3+ BHK</a></li>
						  </ul>
						</div>
						<div class="dropdown" >
						  <button class="btn btn-default dropdown-toggle" type="button" 
						  id="dropdownAvailability" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							Availability
							<span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu" aria-labelledby="dropdownAvailability">
							<li><a href="#">Immediate</a></li>
							<li><a href="#">Within 1 month</a></li>
							<li><a href="#">After 2 months</a></li>
							<!--<li role="separator" class="divider"></li>-->
							<li><a href="#">After 3+ months</a></li>
						  </ul>
						</div>
						


				</div>
				
			<div class=" col-12 searchResultsGrid">
            <div class="col-sm-4">
                <div class="col-sm-12 thumbnail text-center">
                    <img alt="" class="img-responsive" src=
                    "media/images/apartmentsDemo/warehouse.jpg">

                    <div class="caption">
                        <h4>Warehouse | $1200/mo | <span class="ratingStars">
						<span>&#9733</span><span>&#9733</span><span>&#9733</span><span>&#9734</span>
						<span>&#9734</span></span></h4>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="col-sm-12 thumbnail text-center">
                    <img alt="" class="img-responsive" src=
                    "media/images/apartmentsDemo/collegemain.jpg">

                    <div class="caption">
                        <h4>College Main | $800/mo | <span class="ratingStars">
						<span>&#9733</span><span>&#9733</span><span>&#9733</span><span>&#9733</span>
						<span>&#9734</span></span></h4>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-4">
                <div class="col-sm-12 thumbnail text-center">
                    <img alt="" class="img-responsive" src=
                    "media/images/apartmentsDemo/countryplace.jpg">

                    <div class="caption">
                        <h4>Country Place | $900/mo | <span class="ratingStars">
						<span>&#9733</span><span>&#9733</span><span>&#9733</span><span>&#9733</span>
						<span>&#9733</span></span></h4>
                    </div>
                </div>
            </div>
			
			<div class="col-sm-4">
                <div class="col-sm-12 thumbnail text-center">
                    <img alt="" class="img-responsive" src=
                    "media/images/apartmentsDemo/zislander.jpg">

                    <div class="caption">
                        <h4>Z Islander | $1000/mo | <span class="ratingStars">
						<span>&#9733</span><span>&#9733</span><span>&#9733</span><span>&#9733</span>
						<span>&#9733</span></span></h4>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="col-sm-12 thumbnail text-center">
                    <img alt="" class="img-responsive" src=
                    "media/images/apartmentsDemo/cherryhollow.jpeg">

                    <div class="caption">
                       <h4>Cherry Hollow | $750/mo | <span class="ratingStars">
						<span>&#9733</span><span>&#9733</span><span>&#9733</span><span>&#9734</span>
						<span>&#9734</span></span></h4>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-4">
                <div class="col-sm-12 thumbnail text-center">
                    <img alt="" class="img-responsive" src=
                    "media/images/apartmentsDemo/block12.jpg">

                    <div class="caption">
                        <h4>Block 12 Apts. | $700/mo | <span class="ratingStars">
						<span>&#9733</span><span>&#9734</span><span>&#9734</span><span>&#9734</span>
						<span>&#9734</span></span></h4>
                    </div>
                </div>
            </div>
        </div>
